* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  padding-top: 40px;
}

.my-container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.btn {
  padding: 10px 25px;
  background-color: #45d977;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: #30d568;
}

.my-cards {
  margin: 0 auto;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  width: 60%;
}

.my-cards .student-box {
  padding: 20px;
  width: 300px;
  min-width: 300px;
}

.my-cards .student {
  box-shadow: 1px 1px 10px black;
  border-radius: 20px;
  padding: 10px;
  height: 100%;
}

.my-cards .student img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.my-cards .student .name {
  text-transform: uppercase;
}

.my-cards .student p {
  margin-top: 10px;
}

nav {
  height: 70px;
  border-bottom: 1px solid lightgray;
}

nav .my-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav .my-container img {
  height: 40px;
}

nav .my-container li {
  display: inline-block;
}

nav .my-container li.active a {
  text-decoration: underline;
}

